html, body, .page-container {
  margin: 0;
  height: 100%;
  /* display: block; */
  background-color: #94BDDF;

}
.page-container {
  position: relative;
  overflow: hidden;
}
.page-container.scene-2 {
  overflow-y: auto;
}
.task {
  font-family: 'Gramatika-Regular';
  font-size: 40px;
  position: absolute;
  top: 76%;
  left: 10%;
  color: white;
  visibility: visible;
  opacity: 1;
  transition: all 0.6s;
  line-height: 1.1;
}
.task.hide {
  visibility: hidden;
  opacity: 0;
}
.cloud, .umbrella {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
}
.cloud {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibility 0s ease 0.6s;
  transform-origin: left top;
}
.cloud.visible {
  visibility: visible;
  opacity: 1;
}
.cloud1 {
  width: 45%;
  height: 45%;
  top: 20%;
  left: 55%;
  background-image: url(images/cloud1.png);
}
.cloud2 {
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  background-image: url(images/cloud2.png);
}
.cloud3 {
  width: 30%;
  height: 30%;
  top: 15%;
  left: 40%;
  background-image: url(images/cloud3.png);
}
.cloud4 {
  width: 32%;
  height: 32%;
  top: 45%;
  left: 58%;
  background-image: url(images/cloud4.png);
}
.cloud5 {
  width: 25%;
  height: 25%;
  top: 35%;
  left: 48%;
  background-image: url(images/cloud5.png);
}
.umbrella {
  width: 25%;
  height: 25%;
  top: 35%;
  left: 50%;
  background-image: url(images/umbrella.svg);
  transition: all 1.2s;
}
.umbrella.big {
  top: 12%;
  left: -30%;
  width: 80%;
  height: 80%;
}
.text1 {
  font-family: 'Gramatika-Regular';
  max-width: 40%;
  font-size: 47px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 1.1;
  transition: all 1.2s;
  visibility: hidden;
  opacity: 0;
}
.text1.appear{
  visibility: visible;
  opacity: 1;
}
.box-2 {
  position: absolute;
  background-color: white;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
}
.box {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 180%;
  top: 100%;
  overflow: hidden;
}
.text2 {
  font-family: 'Gramatika-Regular';
  max-width: 150%;
  font-size: 47px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #94BDDF;
  text-align:  center;
  line-height: 0.95;
  transition: all 0.5s;
}
.blue_cloud {
  position: absolute;
  width: 350%;
  height: 125%;
  top: 26%;
  left: -55%;
  transform-origin: 30% 50%;
}
.text3 {
  font-family: 'Gramatika-Regular';
  max-width: 70%;
  font-size: 35px;
  position: absolute;
  top: 55%;
  left: 10%;
  color: #94BDDF;
  text-align:  center;
  transition: all 0.5s;
}
.gloom {
  position: absolute;
  width: 45%;
  height: 22%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.rain {
  position: absolute;
  width: 41%;
  bottom: 0%;
  left: 14%;
  transition: all 0.5s;
}
